{{ define "main" }}

<style>
.site-project-header {
background: #AD1113 url('{{ "img/bg-page-header.png" | absURL }}') 50% 50% no-repeat;
padding: 125px 0 30px;
}
.site-project-single-section {
padding: 50px 0 100px;
}
.header-link {
color: #fff;
text-decoration: none;
}
.header-link:hover {
color: #fff;
text-decoration: underline;
}
.site-blog.details {
    padding: 50px 0 80px;
}
.site-project-header-content h2 {
    font-size: 40px;
}
@media (max-width: 766px) {
  .contacts-map {
    pointer-events: none;
  }
}
</style>

<section class="site-project-header">
<div class="container">
<div class="row align-items-center">
    <div class="col-lg-8">
    <div class="site-project-header-content">
        <p style="color: #fff; margin-bottom: 0;">
        <a class="header-link" href="/">Главная</a> / Наши дома
        </p>
    </div>
    </div>
</div>
</div>
</section>
<section class="site-blog details">
<div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-12">
        <article class="site-blog-details">
            
            <div class="col-lg-12 align-self-center">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Архангельская область, г. Котлас</h3>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">пр-кт. Мира</h5>
                    <p>д. 21, д. 21А, д. 23, д. 25, д. 25А, д. 29, д. 29А, д. 39, д. 48</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. 28 Невельской дивизии</h5>
                    <p>д. 10, д. 8в</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. 70 лет Октября</h5>
                    <p>д. 11, д. 17а, д. 19</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Виноградова</h5>
                    <p>д. 36</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Калинина</h5>
                    <p>д. 7</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Кедрова</h5>
                    <p>д. 11, д. 11а, д. 3-а, д. 4, д. 5, д. 5-а, д. 7, д. 7А</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Кирова</h5>
                    <p>д. 55</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Кузнецова</h5>
                    <p>д. 5в</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Ленина</h5>
                    <p>д. 73</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Октябрьская</h5>
                    <p>д. 46</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Орджоникидзе</h5>
                    <p>д. 30</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Урицкого</h5>
                    <p>д. 7</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Багратиона</h5>
                    <p>д. 64, д. 66, д. 68</p>
                    </div>
                    <div class="col-lg-3">
                    <h5 style="text-decoration: underline; color: #AD1113;">ул. Портовиков</h5>
                    <p>д. 63</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    </div>
</div>
</section>
<div class="contacts-map hidden-xs">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6f08db3a5a56b6158cda36c64b0254ac6b66601b06398b9c07f3794b1ac9a34c&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
</div>
{{ end }}