{{ define "main" }}
<style>
.site-project-item-content, .site-blog-post-content {
  position: unset;
}
.site-project-header {
  background-color: #AD1113;
}
.site-project-header {
    padding: 125px 0 30px;
}
.service-text {
  font-size: 11pt;
  text-align: center;
}
.service-icon {
  color: #00113E;
  transition: all .3s cubic-bezier(.36,.03,0,.91);
}
.service-icon:hover {
  color: #AD1113;
}
.site-project-item-content {
  padding-bottom: 0px;
  padding: 30px;
}
.site-project-item-content:hover a {
  color: #AD1113;
}
.fa {
  padding-bottom: 12px;
}
.service-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.site-project-header {
    background: #AD1113 url('{{ "img/bg-page-header.png" | absURL }}') 50% 50% no-repeat;
}
.header-link {
  color: #fff;
  text-decoration: none;
}
.header-link:hover {
  color: #fff;
  text-decoration: underline;
}
.site-project-header-content h1 {
    font-size: 40px;
    word-break: break-word;
}
html,body{
    overflow-x: hidden;
}
</style>

<section class="site-project-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-project-header-content">
          <p style="color: #fff; margin-bottom: 0;">
            <a class="header-link" href="/">Главная</a> / Услуги
          </p>
        </div>
      </div>
      <!--<div class="col-lg-4">
        <a href="#project" class="site-project-header-action scroll-to">
          <span></span>
          <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
        </a>
      </div>-->
    </div>
  </div>
</section>

<section class="site-project" id="project">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 4).Pages }}
      <div class="col-lg-3 col-md-10 mx-auto">
        <div class="site-project-item">
          <div class="site-project-item-content"><a class="service-link" href="{{ .Permalink }}">
            <center><a class="service-icon" href="{{ .Permalink }}"><i class="{{ .Params.Image }} fa-3x" aria-hidden="true"></i></a></center>
            <h3 class="service-text"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <!--<a href="{{ .Permalink }}" class="read-more">Читать далее...</a>-->
          </a></div>
        </div>
      </div>
      
      {{ end }}
      <div class="col-12">
        <div class="site-project-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

<!--{{ partial "call-to-action.html" . }}-->

{{ end }}