{{ define "main" }}

<style>
.site-project-header {
background: #AD1113 url('{{ "img/bg-page-header.png" | absURL }}') 50% 50% no-repeat;
padding: 125px 0 30px;
}
.site-project-single-section {
padding: 50px 0 100px;
}
.header-link {
color: #fff;
text-decoration: none;
}
.header-link:hover {
color: #fff;
text-decoration: underline;
}
.site-blog.details {
    padding: 50px 0 80px;
}
</style>

<section class="site-project-header">
<div class="container">
<div class="row align-items-center">
    <div class="col-lg-8">
    <div class="site-project-header-content">
        <p style="color: #fff; margin-bottom: 0;">
        <a class="header-link" href="/">Главная</a>  /  Лицензия
        </p>
    </div>
    </div>
</div>
</div>
</section>
<section class="site-blog details">
<div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-12">
        <article class="site-blog-details">
            <center>
            <a href="/img/license_1.png" target="_blank"><img src="/img/license_1.png" style='margin-right: 24px; width: 200px;' alt="Лицензия"></a>
            <a href="/img/license_2.png" target="_blank"><img src="/img/license_2.png" style='width: 200px;' alt="Лицензия"></a>
            </center>
            <br><br><p align=center>Лицензия на управление МКД – официальное разрешение на осуществление предпринимательской деятельности управляющей компанией, выдается органами государственного жилищного надзора, без ограничения по сроку действия. </p><br>
            <p align=center><b>Лицензия № 000039<br>от 9 апреля 2015 г.</b></p>
            <p align=center>На осуществление предпринимательской деятельности по управлению многоквартирными домами.</p>
            <p align=center>Настоящая лицензия предоставлена обществу с ограниченной ответственностью «ВЕСТА»</p>
            <p align=center>(ООО "ВЕСТА")</p>
            <p align=center>ОГРН 1092904000342<br>ИНН 2904021142</p>
        </article>
    </div>
    </div>
</div>
</section>

{{ end }}