{{ with .Site.Params.call_to_action }}
  {{ if .enable }}
  <style>
    .site-cta {
      padding: 0px 0;
    }
    .map-title {
      position: relative;
      display: inline;
      top: 100px;
      left: 100px;
      width: 250px;
      height: 60px;
      overflow: visible;
      background-color: #fff;
      color: #000;
      font-weight: 500;
      font-size: 1.875rem;
      line-height: 1;
      padding: 15px;
      text-transform: uppercase;
      z-index: 1;
      font-family: montserrat,sans-serif;
      font-weight: 600;
      text-align: center;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
      color: #AD1113;
    }
  </style>
  <section class="site-cta" style='background-image: url("{{ .background_image | absURL }}");'>
    <div class="map-title">Наши дома</div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6f08db3a5a56b6158cda36c64b0254ac6b66601b06398b9c07f3794b1ac9a34c&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
    <!--<div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="site-cta-title">{{ .title }}</h1>
          <ul class="site-cta-buttons">
            <li>
              <a href="{{ .primary_button_url | absURL }}" class="btn btn-secondary">
                <span class="btn-area">
                  <span data-text="{{ .primary_button }}">
                    {{ .primary_button }}
                  </span>
                </span>
              </a>
            </li>
            <li>
              <a href="{{ .secondary_button_url | absURL }}" class="btn btn-primary">
                <span class="btn-area">
                  <span data-text="{{ .secondary_button }}">
                    {{ .secondary_button }}
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>-->
  </section>
  {{ end }}
{{ end }}