{{ with .Site.Data.counter }}
  {{ if .enable }}
  <style>
  .text-white {
    font-size: 1.625rem;
  }
  .site-counter-item-title {
    font-size: 20px;
    font-weight: 300;
    font-family: montserrat,sans-serif;
  }
  .btn-light {
    color: #AD1113!important;;
  }
  img.site-counter-item-image {
    display: block;
    padding-bottom: 12px;
  }
  @media only screen and (max-width: 1005px) {
    .section-title h2, .btn, .site-counter-item-title {
      font-size: 12pt;
    }
    .site-counter-item {
      text-align: left;
    }
  }
  </style>
  <section class="site-counter" id="counter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <center><h2 class="text-white">{{ .heading }}</h2></center>
          </div>
        </div>
        {{ range .counter_item }}
        <div class="col-lg-4 col-md-4">
          <div class="site-counter-item">
            <center><img class="site-counter-item-image" src="{{ .image }}" alt=""></center>
            <center><span class="site-counter-item-title">{{ .title }}</span></center>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}