{{ define "main" }}
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A675bb236219c278b9546176cfc2203d333c868f02ed373c1b46152d1c106b677&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
<section class="site-contact">
  <div class="container">
    <h3>г. Котлас, ул. Кузнецова, д. 16</h3>
    <p style="font-size: 14pt;"><a href="tel:+78183752873">+7(81837)52873</a><br>
    <a href="mailto:Upravdompluskotlas@yandex.ru">Upravdompluskotlas@yandex.ru</a></p>

    <table class="table">
      <thead>
         <tr>
            <th>Дни недели</th>
            <th>Режим работы</th>
            <th>Перерыв</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>понедельник</td>
            <td>
               8:00                                                <span>-</span>
               17:00                                        
            </td>
            <td>
               12:00                                                <span>-</span>
               13:00
            </td>
         </tr>
         <tr>
            <td>вторник</td>
            <td>
               8:00                                                <span>-</span>
               17:00                                        
            </td>
            <td>
               12:00                                                <span>-</span>
               13:00
            </td>
         </tr>
         <tr>
            <td>среда</td>
            <td>
               8:00                                                <span>-</span>
               17:00                                        
            </td>
            <td>
               12:00                                                <span>-</span>
               13:00
            </td>
         </tr>
         <tr>
            <td>четверг</td>
            <td>
               8:00                                                <span>-</span>
               17:00                                        
            </td>
            <td>
               12:00                                                <span>-</span>
               13:00
            </td>
         </tr>
         <tr>
            <td>пятница</td>
            <td>
               8:00                                                <span>-</span>
               17:00                                        
            </td>
            <td>
               12:00                                                <span>-</span>
               13:00
            </td>
         </tr>
         <tr>
            <td>суббота</td>
            <td>
               <span>выходной</span>
            </td>
            <td>
            </td>
         </tr>
         <tr>
            <td>воскресенье</td>
            <td>
               <span>выходной</span>
            </td>
            <td>
            </td>
         </tr>
      </tbody>
   </table>

    <br><br><br><br>
    <div class="row">
      <div class="col-lg-6">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form id="contact-form" action="{{ .Site.Params.formspreeFormUrl }}" method="POST">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" name="first-name" id="first-name" placeholder="Имя">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Фамилия">
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Электронная почта">
              </div>
              <div class="col-lg-6">
                <div class="select-wrapper">
                  <select class="form-control" id="questionType" name="question-type">
                    <option value="" selected disabled hidden>Категория</option>
                    <option value="request">Заявка</option>
                    <option value="services">Услуги</option>
                    <option value="counters">Показатели</option>
                    <option value="other">Другое</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea class="form-control" id="aboutProject" name="about-project" rows="6" placeholder="Ваш вопрос"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" id="contact-form-button">
                  <span class="btn-area">
                    <span data-text="Отправить">
                      Отправить
                    </span>
                  </span>
                </button>
              </div>
              <p id="contact-form-status"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}